body {
	margin: 0px;
	z-index: 80;
	font-family: Trebuchet MS;
	overflow-x: hidden;
	position: relative;
}

.img-profile {
	width: 290px;
	border: 1px solid #2F78FF;
	margin-top:100px;
}

.first_frame {
	background: url("main_cover.jpg") repeat scroll -2064px -789px;
	padding-bottom: 100px;
	height: 100%; 
}

.main_frame_name,.main_frame_content {
	color: #fff;
}

.main_frame_name {
	text-transform: uppercase;
	font-weight: bold;
}

.cover_details {
	margin-top: 90px;
}

.projects_img {
	width: 240px;
}

.photo_img {
	width: 300px;
}

.projects_heading {
	font-weight: bold;
}

.projects_subtxt {
	font-style: italic;
	margin-top: 10px;
}

.project-sub-heading {
	font-size: 22px;
	font-weight: bold;
	text-decoration: underline;
}

.third_frame {
	color: #fff;
	background-color: #2C3E50;
	margin-top: 40px;
	padding-bottom: 60px;
}

.zohobg {
	width: 60%;
}

.zappos_img {
	width: 400px;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	.zappos_img {
		width: 100%;
	}	
}

.contact_logo {
	border-radius: 2px;
    width: 26px;
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
	
.contact_logo {
	filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    cursor: pointer;
}

.contact_logo:hover {
	filter: inherit;
	-webkit-filter: inherit;
}
	
}

.nav-name {
	font-size: 22px;
	margin-top: 12px;
}

.nav-tabs {
	margin-top: 7px;
	border: none !important;
}

.navbar-style {
	opacity: 0.89;
}

.dropdownbg {
	background-color: #fff;
	border: 1px solid #ccc;
}

.content_header {
	margin-top: 20px;
}

.contact_icons {
	margin-top:60px;
}
